<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.dubbo.producer.dao.IUserDao" >
  <resultMap id="BaseResultMap" type="UserPo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectUserById" resultMap="BaseResultMap" parameterType="Integer">
    select id, `name` , age
    from dubbo_user
    where id = #{id}
  </select>

</mapper>